<!DOCTYPE html>
<html>
  <head>
    <title>Maxime Bordeleau</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="row vertical-align">
      <div class="col-xs-1"><span class="glyphicon glyphicon-chevron-left"></span></div>
      <div class="col-xs-10">
        <div class="row" id="info-block">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12">
                Maxime Bordeleau
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                Analyste-développeur
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3"></div>
              <div class="col-xs-1">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="col-xs-8 text-left">
                <div class="row"><div class="col-xs-12 main-email"><a href="mailto:Max.Bordeleau@gmail.com">max.bordeleau@gmail.com</a></div></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3"></div>
              <div class="col-xs-1">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
              </div>
              <div class="col-xs-8 text-left">
                <div class="row"><div class="col-xs-12 home-phone">418-606-8555</div></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <ul class="list-inline">
                  <li class="list-inline-item" title="LinkedIn"><a target="_blank" href="https://www.linkedin.com/in/maxime-bordeleau-a5613416/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item" title="Facebook"><a target="_blank" href="https://www.facebook.com/maxime.bordeleau.12"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item" title="Flickr"><a target="_blank" href=""><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item" title="GitHub"><a target="_blank" href="https://github.com/debordy"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item" title="Google Plus"><a target="_blank" href="https://plus.google.com/102069916588723587074?hl=fr"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item" title="Instagram"><a target="_blank" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item" title="Pinterest"><a target="_blank" href=""><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item" title="Tumblr"><a target="_blank" href=""><i class="fa fa-tumblr-square" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item" title="Twitter"><a target="_blank" href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-1"><span class="glyphicon glyphicon-chevron-right"></span></div>
    </div>
    <div class="row vertical-align" id="buttons-block">
      <div class="col-xs-1">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      </div>
      <div class="col-xs-10 nav full-width three-elements">
        <button type="button" id="js-btn-contact" class="btn btn-default">Contact</button>
        <button type="button" id="js-btn-studies" class="btn btn-default">Studies</button>
        <button type="button" id="js-btn-experiences" class="btn btn-default">Experiences</button>
      </div>
      <div class="col-xs-1">
        <i class="fa fa-print" aria-hidden="true"></i>
      </div>
    </div>
  </body>
</html>
